<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  ~ Copyright (c) 2022. Licensed under the Apache License, Version 2.0.
  -->

<mapper namespace="io.entframework.kernel.system.modular.home.mapper.SysStatisticsCountMapper">
</mapper>
